.conteiner{
    display: flex;
}

.img{
    background-color: rgb(91, 91, 218);
    border-radius:20% ;
    height: 200px;
    width: 250px;
}

.imgtext{
    background-color: rgb(91, 91, 218);
    border-radius:5px ;
    padding: 2px;
    color: white;
}

